.calendar {
  counter-reset: day;
  display: flex;
  flex-wrap: wrap;
  width: calc(7 * 100px + 6 * 1px + 2 * 10px);
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  inset: 0;
}

.calendar__day {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    background-color: #ffbfc8;
    transform: translateY(-20px);
  }
}
